<div class="table-container">
    <div class="table-header"> Query results </div>
    
    <div v-if="query.error" class="query-error-container">
        <strong> error </strong> <br>
        <p> {{ query.error }} </p>
    </div>
    
    <div class="result-table-container">
        <table v-if="query.result" class="result-table">
            <thead>
                <tr>
                    <th v-if="query.result" v-for="column in query.result[0].columns">
                        {{ column }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in query.result[0].values">
                    <td v-for="col in row">
                        {{ col }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
